a:link{
    color: red;
}

a:visited{
    color: blue;
}

a:hover{
    color: yellow;
}

a:active{
    color: green;
}

div ~ p{
    color:red;
}

.name:checked{
    color: red;
    background-color: aquamarine;
}
.password:target{
    color: red;
}
