:root {
  --main-color: rgba(41, 128, 185, 1);
  --main-color-light: rgba(41, 128, 185, 0.5);
  --accent-color: rgba(243, 156, 18, 1);
  --accent-color-light: rgba(243, 156, 18, 0.5);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--main-color-light)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main-title{
    font-size: 2rem;
    color: white;
}
.header, .todo-form{
    min-height: 20vh;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-item{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    outline: none;
}
.btn-todo-add{
    color: var(--accent-color);
    cursor: pointer;
    
}
.btn-todo-add:hover{
    color: white;
    background-color: var(--accent-color);
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo-list{
    list-style: none;
    min-width: 40%;
    
}
.todo-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    font-size: 1.2rem;
    background-color: white;
    transition: .5s ease-in-out;
}
.todo-li{
    flex: 1;
    padding: 1rem;
}
.todo-btn{
    background-color: var(--accent-color);
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 1.1rem;
    
}
.todo-btn-delete{
    background-color: rgb(228, 54, 54);
}
.todo-done{
    text-decoration: line-through;
    opacity: 0.5;
}

.fa{
    pointer-events: none;
}
.losted-item{
    transform: scale(0);
}